!*.gitkeep
/ac-comphist.dat
/save-place
/server
/auto-save-list
/recentf
/revive
/session
url/
var/
*~
*.elc
/data/junk/*
!/data/junk/.gitkeep
/site-lisp/archives/*/archive-contents
/data/navi2ch/*
.cask/
/tramp
undo-tree/
tmp/
packages/
el-get/
